* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    /* primary font family for page */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* apply secondary font family to selectors that use it */
header h1, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* list of anchor links removes any bullet point graphic */
header ul {
    list-style-type: none;
}

/* stack anchor links inline, and space them */
header li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* main content section fills most of screen from left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* limit content image sizes by height */
.content article img {
    max-height: 200px;
}

/* odd numbered articles of content get their first image pushed left */
.content article:nth-of-type(odd) img:first-of-type {
    float:left;
    margin-right: 25px;
}

/* even numbered articles of content get their first image pushed right */
.content article:nth-of-type(even) img:first-of-type {
    float:right;
    margin-left: 25px;
}

/* benefits section floats right of main content*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* limit benefits icon images by width, and format */
.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* make the characters 's-e-o' stand out in page title header */
#seo {
    color: #d9dcd6;
}

/* format and populate hero image */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
